*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
*.plist
*.json
Vector
GiftContents
.kotlin
Data1
Data2
Data3
Data4
DatabaseConfig.kt
DatabaseConfig.ios.kt
DatabaseConfig.Android.kt
StorageConfig.kt
StorageConfig.ios.kt
StorageConfig.Android.kt
