*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
*.plist
*.json
Vector
GiftContents
.kotlin
Key
Data1
Data2
Data3
DatabaseConfig.kt
DatabaseConfig.ios.kt
DatabaseConfig.android.kt
StorageConfig.kt   
StorageConfig.ios.kt
StorageConfig.android.kt
